body{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9pt;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

img { border: none; }

a {
  color: navy;
}

.footer {
  text-align: right;
  border-radius: 10px;
  margin-top: 0.5em;
  padding: 0.5em 1em 0.5em;
  font-size: 16px;
  background:#8B8378;
}
.header{
  text-align: right;
  border-radius: 10px;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em;
  font-size: 90%;
  background: #8B8378;
}

.svn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.rev {
  margin-right: 3px;
  padding-left: 3px;
  text-align: left;
  font-size: 120%;
}

.dir a {
  text-decoration: none;
  color: black;
  display: block;
  
}

.dir img { vertical-align: middle }

.file a {
  text-decoration: none;
  color: black;
  display: block;
}

.file {
  margin: 3px;
  padding: 3px;
  background: #F8F8FF;
  border-radius: 10px;

}

.file img { vertical-align: middle }

.file:hover {
  margin: 3px;
  padding: 3px;
  background: #DBDBDB;
}

.dir {
  margin: 3px;
  padding: 3px;
  background: rgb(90%,90%,90%);
  border-radius: 10px;
}

.dir:hover {
  margin: 3px;
  padding: 3px;
  background: #DBDBDB;
}